#fourth-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    background-color: #ffffff;
    padding:4rem 1rem;
}


#fourth-banner span {
    width:70%;
    font-size:1.3rem;
    font-weight: lighter;
    color:#363636;
}

.fourth-banner-circle-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:5rem 0rem 3rem 0rem;
}

.plus-image-one,.plus-image-two, .minus-image {
    position:absolute;
    padding:1rem;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
}

.plus-image-one:hover,.plus-image-two:hover, .minus-image:hover {
    transition: all 0.1s linear;
    transform: scale(110%);
    cursor: pointer;
}


.plus-image-one {
    background-color: #03b5b0;
    bottom:15%;
    left: 8%;    
}

.plus-image-two {
    background-color: #03b5b0;
    bottom:15%;
    right:8%;
}

.minus-image {
    background-color: 7a2b58;
    top:16%;
}

.inside-circle-container {
    width: 45%;
    height: 45%;
    border-radius: 50%;
    background-color: #03b5b0;
    border: 0.15rem solid black;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.interactive-circle-image {
    width: 100%;
}

@media only screen and (max-width:800px) {
    .fourth-banner-circle-container {
        width:80%;
    }

    .inside-circle-container {

    }

}

@media only screen and (max-width:650px) {
    .plus-image-one,.plus-image-two, .minus-image {
        width: .8rem;
        height: .8rem;
    }

    .plus-image-one {
        bottom:15%;
        left: 7%;    
    }
    
    .plus-image-two {
        bottom:15%;
        right:7%;
    }
    
    .minus-image {
       top:16%;
    }
}

@media only screen and (max-width:550px) {
    .plus-image-one,.plus-image-two, .minus-image {
        width: .5rem;
        height: .5rem;
    }

    .plus-image-one {
        bottom:13%;
        left: 7%;    
    }
    
    .plus-image-two {
        bottom:13%;
        right:7%;
    }
    
    .minus-image {
       top:16%;
    }
}


