#header {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url('../images/png/header-1920.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:4rem;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header-container h1 {
    font-size: 5rem;
    margin:0;
    text-align: center;
    font-weight: bolder;
}

.header-container h3 {
    font-size: 1.5rem;
    text-align: center;
    font-weight: lighter;
}

@media only screen and (min-width:300px) and (max-width:550px) {
    #header {
        background-image: url('../images/png/header-360.png');
    }
    .header-container h1 {
        font-size: 3.7rem;
    }
    
    .header-container h3 {
        font-size: 1.4rem;
    }
}


@media only screen and (min-width:1050px) and (max-width:1370px) {
    #header {
        background-image: url('../images/png/header-1024.png');
    }
}
